body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.scrolled {
  background: #fafafa !important;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-8px); }
    40%, 80% { transform: translateX(8px); }
}
.shake {
    animation: shake 0.5s ease;
    border: 2px solid red;
}